@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html, body, main, header {
  width: 100%;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

header {
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5.94% 10px 5%;
}

.nav-bar {
  position: absolute;
  right: 0px;
  top: 44px;
  background-color: #0000EC;
  width: 100%;
  padding: 16px 0 0 5%;
}

.nav-a {
  color: #ffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 28px;
}

.nav-a:hover {
  text-decoration: line-through;
  color: #00F3BB;
  font-weight: 500;
}

.nav-a:active {
  text-decoration: line-through;
  opacity: 56%;
  color: #060A24;
}

.nav-li {
  padding-bottom: 24px;
}

.resp-menu nav {
  display: none;
}

.checkbox {
  display: none;
}

.fas {
  font-size: 18px;
}

.check {
  cursor: pointer;
}

.resp-menu input:checked ~ nav {
  display: block;
}

.resp-menu input:checked ~ label .fa-bars {
  display: none;
}

.resp-menu input:not(:checked) ~ label .fa-times {
  display: none;
}

.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #060A24;
  width: 80%;
}

.title:first-child {
  padding-top: 29px;
}

.tachar {
  text-decoration: line-through;
}

.descriptionmobile {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 5% 0 5%;
  padding-top: 16px;
  padding-bottom: 36px;
}

.descriptiondesktop {
  display: none;
}

.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 48px;
  background-color: #00F3BB;
  margin: 0 5% 24px 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button1:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
}

.button1text {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-weight: 500;
}

.button1text:hover {
  color: #ffff;
}

.section2 {
  background: #0000EC;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000EC), to(#0000A3));
  background: linear-gradient(180deg, #0000EC 0%, #0000A3 100%);
  width: 100%;
  height: 1203.5px;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% calc(100% - 3%), 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% calc(100% - 3%), 0 100%);
}

.title2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #ffff;
  padding-top: 64px;
  padding-bottom: 21px;
}

.spotframe {
  padding-right: 3.44%;
  padding-left: 3.44%;
}

iframe {
  width: 100%;
  height: 232px;
  border: none;
  overflow: hidden;
}

.imagephone {
  width: 100%;
  -webkit-transform: translateY(-95px);
          transform: translateY(-95px);
}

.title3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #060A24;
  padding-right: 5%;
  padding-bottom: 8px;
  margin-top: -72px;
}

.description2 {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 5% 0 5%;
}

.description2:nth-child(3) {
  padding-top: 12px;
}

.title4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #060A24;
  padding-top: 54px;
  padding-bottom: 14px;
}

.imagegallery {
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #060A24;
  padding-top: 48px;
  padding-bottom: 37px;
}

.temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figuretemas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descriptiontema {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.descriptiontema {
  padding-top: 13px;
  padding-bottom: 54px;
}

.descriptiontema:nth-child(2) {
  padding-bottom: 49px;
}

.descriptiontema:nth-child(8) {
  padding-bottom: 42px;
}

.title6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 5%;
  color: #ffff;
  padding-right: 5%;
  padding-top: 64px;
  padding-bottom: 36px;
  text-align: center;
}

.section5 {
  background: #0000EC;
  background: -webkit-gradient(linear, right top, left top, from(#0000EC), to(#0000A3));
  background: linear-gradient(-90deg, #0000EC 0%, #0000A3 100%);
  width: 100%;
  height: 341px;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 48px;
  background-color: #00F3BB;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button2:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
}

.button2text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  color: #060A24;
  font-size: 16px;
  line-height: 22px;
}

.button2text:hover {
  color: #ffff;
}

.fab {
  font-size: 18px;
  color: #060A24;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconsfooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 31px;
  padding-left: 14.0625%;
  padding-right: 14.0625%;
}

.description3 {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  line-height: 22px;
  padding-top: 24px;
}

@media screen and (min-width: 872px) {
  .resp-menu nav {
    display: block;
  }
  .nav-bar {
    position: inherit;
    background-color: #ffff;
    padding: 0;
  }
  .nav-a {
    color: #060A24;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .check {
    display: none;
  }
  .nav-li {
    padding: 0 24px 0 24px;
  }
  .imageheader {
    width: 36px;
    height: 36px;
  }
  header {
    padding: 22px 5.27% 22px 6.94%;
  }
  .titleresponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    padding: 0px;
    padding-top: 120px;
    font-size: 64px;
    line-height: 84px;
  }
  .title:first-child {
    padding-left: 13.89%;
    padding-top: 120px;
  }
  .bluedot {
    color: #0000EC;
  }
  .descriptionmobile {
    display: none;
  }
  .descriptiondesktop {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    padding-left: 13.89%;
    padding-right: 42.5%;
    padding-bottom: 56px;
  }
  .button1 {
    margin: 0px;
    width: 15.69%;
    height: 56px;
    margin-left: 13.89%;
    margin-bottom: 5px;
  }
  .button1text {
    font-size: 18px;
    line-height: 24px;
  }
  .section2 {
    width: 100%;
    height: 1042.6px;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% calc(100% - 15%), 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% calc(100% - 15%), 0 100%);
  }
  .title2 {
    font-size: 48px;
    line-height: 62px;
    padding-left: 13.89%;
    padding-top: 186px;
    padding-bottom: 26px;
  }
  .spotify1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 6.94%;
    padding-right: 6.94%;
  }
  .spotify2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 72px;
    padding-left: 6.94%;
    padding-right: 6.94%;
  }
  .spotframe {
    padding: 0px;
  }
  .spotframe:nth-child(2n) {
    padding-left: 72px;
  }
  .imagephone {
    width: 42.1%;
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
    position: absolute;
    padding-left: 13.89%;
  }
  .title3 {
    font-size: 48px;
    line-height: 62px;
    margin: 20.4px 0px 24px 50%;
    padding: 0px;
  }
  .description2 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 50%;
    padding: 0px;
    max-width: 464px;
  }
  .description2:nth-child(2n) {
    padding-top: 12px;
    margin-bottom: 200px;
  }
  .description2:nth-child(3) {
    padding-top: 0px;
  }
  .title4 {
    font-size: 48px;
    line-height: 62px;
    padding-left: 13.89%;
    padding-bottom: 36px;
    padding-top: 64px;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .title5 {
    font-size: 48px;
    line-height: 62px;
    padding-left: 13.89%;
    padding-top: 64px;
    padding-bottom: 69px;
  }
  .temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 15.27% 34px 15.27%;
  }
  .figuretemas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descriptiontema {
    padding: 0px;
    max-width: 220px;
    text-align: center;
    margin-top: 13px;
  }
  .descriptiontema:nth-child(2) {
    padding: 0px;
  }
  .title6 {
    font-size: 48px;
    line-height: 62px;
    padding: 0px;
    padding-top: 213px;
    padding-bottom: 36px;
  }
  .section5 {
    height: 518px;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button2 {
    width: 23.96%;
    margin-top: 36px;
    height: 56px;
    margin: 0;
  }
  .description3 {
    font-size: 16px;
    line-height: 28px;
    padding-top: 36px;
    padding-bottom: 31px;
  }
  .fab {
    padding-left: 36px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 6.94%;
    padding-right: 6.94%;
  }
  .iconsfooter {
    padding: 0;
    width: auto;
  }
}
/*# sourceMappingURL=Styles.css.map */